.row{
    /* padding: 25px; */
}

.container{
    position: fixed;
    left: 100px;
    width: 100vw;
    background-color: transparent;
    z-index: 99;
}
.GetAQuote{
    display: flex;
    justify-content: end;
}


.quotebtn{
    border-radius: 25px;
    font-size: 1.075rem;
    line-height: 1;
    padding: 1rem 1.5rem;
    line-height: 1;
    display: inline-block;
    font-weight: 400;
    background-color: #ce5137;
    color: white;
    /* font-family: "Playfair Display", serif; */
    border: none !important;
    animation: slide-bottom 1s linear 0s 1 normal both;
    
}
@keyframes slide-bottom {
			
    0% {
        transform:translateY(0);
    }
    100% {
        transform:translateY(50px);
    }
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logoImg{
    width: 100px;
    height: 100px;
    animation: slide-bottom 1s linear 0s 1 normal both;

}

@keyframes slide-bottom {
			
    0% {
        transform:translateY(0);
    }
    100% {
        transform:translateY(50px);
    }
}

