.container {
  position: fixed;
  background-color: transparent;
  z-index: 99;
  top: 0;
  left: 5%;
  right: 5%;
}

.GetAQuote {
  display: flex;
  justify-content: flex-end;
}

.quotebtn {
  border-radius: 25px;
  font-size: 1.075rem;
  line-height: 1;
  padding: 1rem 1.5rem;
  display: inline-block;
  font-weight: 400;
  background-color: #ce5137;
  color: white;
  border: none !important;
  animation: slide-bottom 1s linear 0s 1 normal both;
}

.Link {
  color: #FFFFFF;
  text-decoration: none;
}

.Responsive {
  display: none;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logobtn {
  padding: 25px;
}

.logoImg {
  width: 100px;
  height: 100px;
  animation: slide-bottom 1s linear 0s 1 normal both;
}

/* Responsiveness */

@media screen and (max-width: 992px) {
  .logo {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 80vh !important;
  }
  .Responsive {
    display: flex;
    justify-content: center;
  }
  .quotebtn {
    display: none;
  }
  .quotebtn2 {
    border-radius: 25px;
    font-size: 1.075rem;
    line-height: 1;
    padding: 1rem 1.5rem;
    display: inline-block;
    font-weight: 400;
    background-color: #ce5137;
    color: white;
    border: none !important;
    animation: slide-bottom 1s linear 0s 1 normal both;
  }
  .Link {
    color: #FFFFFF;
    text-decoration: none;
  }
}

@media screen and (max-width: 786px) {
  .logo {
    align-items: flex-start;
    height: auto;
  }
  .quotebtn2 {
    display: block;
  }
}
