.container{
   
}

.section{
    background-color: #f5fafe;

}

/* .bannerText{
    z-index: 99;
    position: absolute;
} */

.Heading{
    padding: 25px;
    

}
.bannerText span{
    color: white;
}

.VideoContainer{
    position: absolute;
    z-index: 9;
    object-fit: cover;
    padding: 0;
    top: 0;
    left: -7%;
    /* right: 50%; */

}
.Video{
  height: 100vh;   
  width: 100vw;       
}

.Col{
    padding: 0px 1px !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 98;
    margin-top: 180px !important;
}

.BannerHeading{
   font-weight: 900;
   font-size:5.5rem ;
   display: flex;
   flex-direction: column;
   /* line-height: 5px; */
   color: #5f6269;
   opacity: 1;
   transform-style: preserve-3d;
   /* font-family: "Playfair Display", serif; */
   animation: slide-top 1.2s linear 0.2s 1 normal both;


}
.BannerHeading2{
    color: #ce5137;
    font-weight: 900;
   /* font-family: "Playfair Display", serif; */
   animation: slide-top 1.2s linear 0.3s 1 normal both;
   font-size:5.5rem ;
}

.BannerText{
    margin-top:35px;
    font-size: 28px;
    color: #838383;
    font-weight: "100";
    /* font-family: "Playfair Display", serif; */
    animation: slide-top 1.2s linear 0.4s 1 normal both;
    /* line-height: 40px; */
}
.Rowtext{
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #FFFFFF;
}

.colText{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.colText span{
    font-weight: 100;
    font-size: 48px;
    letter-spacing: 1px;
    
    text-align: center;
    /* font-weight: 400; */
    color: #838383;
    /* font-family: "Playfair Display", serif; */
    padding: 100px;
    animation: scale-in-center 1s linear 0.1s 1 normal none;
}
.colText span span{
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 1px;
    color: #4d4c4c;
}

.Resrow{
    display: none;
}
@keyframes scale-in-center {
			
    0% {
        transform:scale(0);
        opacity:1;
    }
    100% {
        transform:scale(1);
        opacity:1;
    }
}

.icons{
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    /* align-items: center; */
}

.icons span{
    width: 50px;
    height: 50px;
    background-color: #edeff1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
    animation: slide-top 1.2s linear 0.3s 1 normal both;




}

.icons span:hover{
    color: #ce5137;
}


@keyframes slide-top {
			
    0% {
        transform:translateY(0);
    }
    100% {
        transform:translateY(-100px);
    }
}


@media screen and (max-width:992px){

    .row{
        top: 217px;
        left: 25px;
    }
    .BannerHeading{
        font-size: 60px;
    }
    .BannerHeading2{
        font-size: 60px;
    }
    .BannerText{
    font-size: 32px;

    }
    .colText span{
        font-size: 28px;
        padding: 50px;
      }
      .colText span span{
        font-size: 28px;
        padding: 50px;
        margin: 0;
        padding: 0;

      }
}

@media screen and (max-width:600px){
  .Video{
    object-fit: contain;
     width: 100%;
    height: 50vh; 
  }
  .Resrow{
    display: block !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
  }
  .row{
    /* display: none !important; */
  }
  .VideoContainer{
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
        /* z-index: 9; */
    /* object-fit: cover; */
    /* padding: 0; */
    top: 0;
    /* left: -7%; */
    right: 50%;

}
.Col{ 
    padding: 0px 20px !important;
    height: 30vh !important;
    margin-top: 300px !important;
}
  
}

@media screen and (max-width:768px){
    .Col{
        padding: 0px 20px !important;
        height: 80vh;
    }
    
    .BannerHeading{
        font-size: 40px;
    }
    .BannerHeading2{
        font-size: 40px;
    }
    .BannerText{
        font-size: 24px;
        margin-top: 0px;
        /* line-height: 0px; */

    }
    .colText span{
        font-size: 22px;
        padding: 50px;
      }
      .colText span span{
        font-size: 22px;
        padding: 50px;
        margin: 0;
        padding: 0;
      }
    
  }

  @media screen and (max-width:400px){
    .BannerHeading{
        font-size: 2.5rem;
    }
    .BannerHeading2{
        font-size: 2.5rem;

    }
    .BannerText{
        font-size: 1rem;
        margin-top: 0px;
        /* line-height: 0px; */

    }
    .colText span{
        font-size: 14px;
        padding: 50px;
      }
      .colText span span{
        font-size: 14px;
        padding: 50px;
        margin: 0;
        padding: 0;
      }
    
    
  }